[flake8]
ignore = E203,E241,E265,E302,E303,E402,E501,E701,F841,D105,D202,W503,I100,I201,I202
exclude =
    notebooks/
    data/

max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,B9
import-order-style = smarkets
